.manage_contacts {
    width: 75%;
    height: 600px;
    margin: 0px auto;
    background-image: url(blackBook.png);
    background-size: cover;


    /* height: 100vh;  */
    position: relative;
    background-attachment: relative;

}

.header {
    margin: 20px;
    color: lightgrey
}

.add_button {
    margin-top: 20px;
}

.add_user {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto;
}

.contact_list {
    color: lightgray;
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    width: 80%;
    margin: 10px auto;
    overflow-y: auto;
}

.user {
    width: 200px;
    margin: 0px auto;
}